services:
  frontend:
    image: frontend
    container_name: frontend
    build:                    
      context: ./
      dockerfile: Dockerfile
    ports:
      - 4000:3000
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
