services:

  backend:
    image: backend
    container_name: backend
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    image: frontend
    container_name: frontend
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 4000:3000
    volumes:
      - ./frontend:/app
      - /app/node_modules