services:
  backend:
    image: backend
    container_name: backend
    build:                    
      context: ./
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./:/app
      - /app/node_modules