services:
  web:
    build: .
    ports:
      - "8000:5000"
    restart: unless-stopped
    depends_on:
      - redis
    # volumes:
    #   - .:/code
  redis:
    image: "redis"
    restart: unless-stopped
    # ports:
    #   - "6379:6379"